.date-selector-container {
  height: 50px;

  .date-inputs-for-cryptoanalytics {
    background-color: $buttonColor;
    font-size       : .6rem;
    border          : 0px;
    border-radius   : 3px;
    padding         : 5px;
    box-shadow      : -5px 3px 8px #272727;
  }
}

.mode-selector-container {
  display        : flex;
  justify-content: center;
  align-items    : flex-start;
  flex-direction : column;

  .mode-selector-select {
    background-color: $buttonColor;
    color           : $mainfontcolor;
    height          : 24px;
    border-radius   : 7px;
    border          : 0px;
    box-shadow      : -5px 3px 8px #272727;
  }
}